$c-bg-black1: #e5e5e5;
$c-bg-black2: #001427;
$c-green: #18e8a4;
$c-white: #fff;

$break-point-tablet: 768px;
$break-point-phone: 550px;

$c-gray: #eee;
$logo-width: 115px;
$logo-height: 76px;
$active-color: #d5c5aa;
$hover-color: #9fadc2;
$blue-color: #0075ff;
$hover-duration: 0.3s;
$hover-duration-middle: 0.5s;
$hover-duration-long: 1s;
