@import "../../styles/utils";

.main {
  margin: 0 auto;

  &__header {
    background-color: #0c7e65;
    padding: 20px;
    color: #fff;
    width: 300px;
    border-radius: 90px 0;
    text-align: center;
    margin: 20px 0;
    border-bottom: 5px solid #001427;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 6px;
    font-style: italic;

    @media screen and (max-width: $break-point-tablet) {
      & {
        font-size: 15px;
        padding: 15px;
      }
    }
  }
}
